<%= form_for Contact.new do |f| %>
  <div class="small-10 small-push-1 columns registration_a">
    <div class="row collapse">
      <div class="small-8 columns">
        <%= f.email_field :email, :required => "" , :placeholder => 'Email', :class => "input-box-forma" %>
        <%= f.hidden_field :source, :value => request.fullpath %>
      </div>
      <div class="small-2 small-pull-1 columns">
        <%= f.submit "Register Now", class: 'button register-btn1', :id => 'button' %>
      </div>
    </div>
  </div>
<% end %>
