<body>
  <h3>Hi! Thank you for Registering!</h3>

  <p>A very special welcome to you, and thank you for subscribing to Yardstick!</p>

  <p>If you have any problems, questions, opinions, praise, comments, suggestions, please feel free to contact us at any time.</p>

  <p>Warm Regards,</p>
  <span>Team Yardstick</span>
</body>
